server {
  set $app_path APP_PATH;
  set $app_name APP_NAME;
  listen 80;

  server_name APP_URLS;
  root $app_path/app;

  error_log /var/log/nginx/$app_name.error.log;
  access_log /var/log/nginx/$app_name.access.log;

  client_max_body_size 60M;

  location / {
    index index.html;
  }
}
