<table class="table">
    <thead>
        <tr>
            <th>Card Number</th><th>Type</th><th>Expires</th><th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="card in cards">
            <td>{{ card.number }}</td>
            <td>{{ card.card_type_name }}</td>
            <td>{{ card.exp_month }}/{{ card.exp_year }}</td>
            <td class="text-right">
                <button class="btn btn-xs btn-danger" ng-click="removeCard(card, $index)" ng-disabled="card.deleting"><i class="glyphicon glyphicon-remove"></i> Remove card</button>
            </td>
        </tr>
    </tbody>
</table>