    <form name="form" role="form" ng-submit="submit(values)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : form.username.$invalid && submitted }">
            <input type="text" placeholder="username" class="form-control" name="username" ng-model="username" required autofocus/>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && submitted }">
            <input type="password" placeholder="password" class="form-control" name="password" ng-model="password" required/>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && submitted }">
            <input type="password" placeholder="password" class="form-control" name="password" ng-model="password" required/>
        </div>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" />
            Keep me signed in
        </label>
        <button type="submit" class="btn btn-lg btn-block purple-bg" ng-disabled="submitting">Sign in</button>
    </form>
