<div ng-if="!user.authenticated" class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4" style="margin-top: 100px">
            <div class="account-box">
                <login-form user="user" ng-if="!formType"></login-form>
                <a class="forgotLnk" href="http://www.jquery2dotnet.com">I can't access my account</a>
                <div class="or-box" ng-show="!formType">
                    <span class="or">OR</span>

                    <div class="row">
                        <div class="col-md-12 row-block">
                            <button class="btn btn-primary btn-block" ng-click="formType = !formType">Create New
                                Account
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="user.authenticated" class="container">

    <div class="row">
        Logged in as {{ user.username }} <strong>({{ user.email }})</strong>

        <hr>
    </div>


    <subscription-list subscriptions="subscriptions" current="currentSubscription" current-selection="currentSelection"></subscription-list>

    <div ng-if="currentSelection.price > 0">


        <h3>{{ currentSelection.price }}/mo {{ currentSelection.name }}</h3>
        <small>{{ currentSelection.description }}</small>

        <div class="row">


            <div class="col-md-8">
                <card-list cards="user.cards"></card-list>
            </div>
            <div class="col-md-4">
                <payment-form cards="user.cards"></payment-form>
            </div>
        </div>
    </div>
</div>
