<div class="row">
    Logged in as {{ user.username }} <strong>({{ user.email }})</strong>
    <hr>
</div>

<subscription-list></subscription-list>

<hr>

<div class="row" ng-show="selected.id === user.stripe_profile.subscription.id">

    <strong>Subscription start</strong> {{ user.subscription_start|amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}
    <strong>Subscription end</strong> {{ user.subscription_end|amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}


</div>

<div class="row" ng-show="selected.id !== user.subscription.id">

    <h3>Subscribing to <strong>{{ selected.name }}</strong> | {{ selected.price / 100 | currency:"£"}}<small>/mo</small></h3>

        <payment-form cards="user.stripe_profile.cards" user="user" ng-if="!user.stripe_profile || !user.stripe_profile.cards"></payment-form>

        <div ng-if="user.stripe_profile.cards.length > 0">
            <subscription-change-form user="user.stripe_profile" card="user.stripe_profile.cards[0]" subscription="selected"></subscription-change-form>
        </div>
</div>
