<div ng-if="!user.authenticated" class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4" style="margin-top: 100px">
            <div class="account-box">
                <login-form user="user" ng-if="!formType"></login-form>
                <a class="forgotLnk" href="http://www.jquery2dotnet.com">I can't access my account</a>
                <div class="or-box" ng-show="!formType">
                    <span class="or">OR</span>

                    <div class="row">
                        <div class="col-md-12 row-block">
                            <button class="btn btn-primary btn-block" ng-click="formType = !formType">Create New
                                Account
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="user.authenticated" class="container">

    <div class="row">
        Logged in as {{ user.username }} <strong>({{ user.email }})</strong>
        <hr>
    </div>

    <subscription-list></subscription-list>

    <hr>

    <div class="row" ng-show="selected.id !== user.subscription.id" class="container card-management">

        <h3>Subscribing to <strong>{{ selected.name }}</strong> | {{ selected.price / 100 | currency:"£"}}<small>/mo</small></h3>

            <div ng-if="selected.price > 0 && user.cards.length === 0">
                <payment-form cards="user.cards"></payment-form>
            </div>

            <div ng-if="user.cards.length > 0">
                <subscription-change-form user="user" card="user.cards[0]" subscription="selected"></subscription-change-form>
            </div>
    </div>



</div>
<div class="container">
    <div class="row">

    </div>
</div>