<div class="row">
    Logged in as {{ user.username }} <strong>({{ user.email }})</strong>
    <hr>
</div>

<div class="row">
    <div class="col-md-9">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Paid At</th>
                <th>Amount</th>
                <th>Card</th>
                <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="payment in payments track by $index">
                <td>{{ payment.created_at | amCalendar }}</td>
                <td>{{ payment.amount / 100 | currency:"£" }}</td>
                <td>{{ payment.card.number }}<img ng-src="img/creditcards/{{ payment.card.card_type_name|slugify }}.png"
                                                  height="30"></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                Filter payments
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <span class="input-group">

                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt"
                               is-open="opened" min="minDate" max="'2015-06-22'"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Close"
                               placeholder="Start date"/>

                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>

                    </span>
                </div>

                <div class="form-group">
                    <span class="input-group">

                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt"
                               is-open="opened" min="minDate" max="'2015-06-22'"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Close"
                               placeholder="End date"/>

                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>